{% extends 'masterpages/masterpage.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h1  class="text-align-center" style=" font-family: effra;">Welcome to BriteCore</h1>
<p></p>
<h4  class="text-align-center">This production dev demo page</h4>

<div  style="overflow: hidden;     font-family: effra;">


  <iframe id="vimeoplayer" class="background-video ready" src="//player.vimeo.com/video/217735470?api=1&amp;background=1" style="width: 100%; height: 799.875px; left: 0px; top: -111.938px;"></iframe></div>
{% endblock %}